body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

span {
    color: red;
}

.flexible-container {
    display: flex;
    margin-bottom: 5%;
    image-rendering: optimizeQuality;
}

.half-width {
    width: 50%;
    padding-left: 7%;
}

.half-width img {
    width: 75%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, rgb(222, 95, 11));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-corner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle-corner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;
}

#middle-para {
    padding-right: 10%;
    margin-bottom: 25px;
}

#front-para {
    margin-bottom: 25px;
}

#exp {
    padding-left: 105px;
    margin-bottom: 20px;
}

.experiences-item {
    box-shadow: 10px 10px 40px black;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    border-radius: 2%;
    margin-bottom: 5%;
}

#full-stack-developer {
    border-left: 7px solid rgba(255, 68, 0, 0.819);
}

#baby-web-developer {
    border-left: 7px solid blue;
}

.bottom-corner {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;
    font-weight: 400;
}